.App {
  text-align: center;
}

body {
  background-color: lightslategrey;
}

img {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
}

.header {
 background-color: lightseagreen;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
 padding: 1rem;
 font-size: 3rem;
}

.container-sub {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.container-sub {
  border: dotted;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.section {
  min-width: 10rem;
  min-height: 10rem;
  border-radius: 50%;
  background-color: teal;
  font-size: 1rem;
  padding: 2rem;
  margin: 1rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: width 2s, height 2s; 
}

.container-notes {
  border: dotted;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  overflow-y: scroll;
}

.note-card {
  background-color: linen;
  border: solid 1px black;
  border-radius: 0.5rem;
  width: 14rem;
  height: 12rem;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-note {
  background: linen;
  width: 14rem;
  height: 14rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

#add-note-form {
  width: 70%;
  height: 5rem;
}

