.App {
  text-align: center;
}

body {
  background-color: lightslategrey;
}

img {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
}

.header {
 background-color: lightseagreen;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
 padding: 1rem;
 font-size: 3rem;
}

.container-sub {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.container-sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.section {
  min-width: 10rem;
  min-height: 10rem;
  border-radius: 50%;
  background-color: teal;
  font-size: 1rem;
  padding: 2rem;
  margin: 1rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: width 2s, height 2s; 
}

